---
import Sobremi from '../components/Sobremi.astro';
import Layout from '../layouts/Layout.astro';
import Quese from '../components/Quese.astro';
import "../styles/global.css";
import Proyectoname from '../components/Proyectoname.astro';
import Proyectoimc from '../components/Proyectoimc.astro';
import Formulario from '../components/formulario.astro'



// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>


	<header class="flex flex-row w-[1078px] h-[121px] rounded-[182px] mt-[0px] items-center">
		<img src="https://th.bing.com/th/id/OIP.21r0GSMN1a96QXXcDwRdowHaDt?rs=1&pid=ImgDetMain" alt="abedruano" class="w-[75px] h-[75px] rounded-full ml-[40px] mr-[75px]" />
		<nav class="flex flex-row justify-between w-full mr-[35px]">
			<a href="#home">Home</a>
			<a href="#sobremi">Sobre mí</a>
			<a href="#proyectos">Proyectos</a>
			<a href="#quese">Qué sé</a>
			<a href="#contacto">Contacto</a>
		</nav>	
	</header>
	
	<div id="sobremi">
		<Sobremi />
	</div>
	<div id="quese">
		<Quese />
	</div>
	<div id="proyectos">
		<Proyectoname />
		<Proyectoimc />
	</div>
	<div id="contacto">
		<Formulario />
	</div>


	
	


</Layout>
