---
import Sobremi from '../components/Sobremi.astro';
import Layout from '../layouts/Layout.astro';
import Quese from '../components/Quese.astro';
import "../styles/global.css";
import Proyectoname from '../components/Proyectoname.astro';
import Proyectoimc from '../components/Proyectoimc.astro';
import Formulario from '../components/formulario.astro';
import 'aos/dist/aos.css';
import Misredes from '../components/misredes.astro';


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>


	<header class="flex flex-row w-[1178px] h-[121px]  mt-[10px] items-center fixed top-0  z-50 backdrop-blur-md bg-white/30 rounded-[102px] shadow-lg">
		<img src="https://rosbe6.github.io/porfolio_abed/img/yo.jpeg" alt="abedruano" class="w-[125px] h-[105px] rounded-full ml-[40px] mr-[75px] object-cover" />
		<nav class="flex flex-row justify-between w-full mr-[35px]">
			<a href="#sobremi">Sobre mí</a>
			<a href="#quese">Qué sé</a>
			<a href="#proyectos">Proyectos</a>
			<a href="#contacto">Contacto</a>
		</nav>	
	</header>
	
	<div id="sobremi">
		<Sobremi />
	</div>
	<div id="quese">
		<Quese />
	</div>
	<div id="proyectos">
		<Proyectoname />
		<Proyectoimc />
	</div>
	<div id="contacto">
		<Formulario />
	</div>


	
	


</Layout>
