<!-- Componente ContactMe.astro -->

<section class="contact mt-[200px] mb-[200px]">
    <div class="u-wrapper">
      <div class="contact-content">
        <!-- Formulario de contacto -->
        <form id="form" action="https://formspree.io/f/xdkelved" class="form" method="POST" name="contact-form">
          <h3 class="tag"><span>Contactame</span></h3>

          <div class="container">
            <input name="name" required type="text" id="name" class="input">
            <label for="name" class="label">Nombre Completo <span>*</span></label>
          </div>
          
          <div class="container">
            <input name="email" type="text" id="email" required  class="input">
            <label for="email" class="label">Correo electr칩nico <span>*</span></label>
          </div>
          

          <div class="container">
            <input id="message" name="message" required class="input">
            <label for="message" class="label">Mensaje</label>
          </div>
          
  
          <!-- Bot칩n con animaci칩n pushable -->
          <button type="submit" class="button">
            <span class="shadow"></span>
            <span class="edge"></span>
            <span class="front">Enviar</span>
          </button>
        </form>

        <!-- Enlace invisible que se usar치 para activar el correo -->
        <a href="#" id="trucazo" style="display: none;"></a>
      </div>
    </div>
  </section>
  
  <style>
    /* Tu estilo para el formulario */
    .form {
      max-inline-size: 550px;
      margin: auto;
      display: flex;
      flex-direction: column;
      row-gap:25px;
    }
  
    .tag {
      font-size: 40px;
    }
  
   /* From Uiverse.io by AmIt-DasIT */ 
.container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: relative;
  color: white;
}

.container .label {
  font-size: 15px;
  padding-left: 10px;
  position: absolute;
  top: 13px;
  transition: 0.3s;
  pointer-events: none;
}

.input {
  width: 200px;
  height: 45px;
  border: none;
  outline: none;
  padding: 0px 7px;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  background-color: transparent;
  box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.input:focus {
  border: 2px solid transparent;
  color: #fff;
  box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 6px rgba(255, 255, 255, 0.4),
  inset 3px 3px 10px rgba(0,0,0,1),
  inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.container .input:valid ~ .label,
.container .input:focus ~ .label {
  transition: 0.3s;
  padding-left: 2px;
  transform: translateY(-35px);
}

.container .input:valid,
.container .input:focus {
  box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 6px rgba(255, 255, 255, 0.4),
  inset 3px 3px 10px rgba(0,0,0,1),
  inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.button {
      cursor: pointer;
      position: relative;
      padding: 10px 24px;
      font-size: 18px;
      color: white;
      border: 2px solid rgb(193, 163, 98);
      border-radius: 34px;
      background-color: transparent;
      font-weight: 600;
      transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
      overflow: hidden;
      transform: translateX(0px);
}

.button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100%;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(193, 163, 98);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.button:active {
  scale: 1;
}

   