<header class="flex flex-row w-[1078px] h-[121px] rounded-[182px] mt-[0px] items-center">
    <img src="https://th.bing.com/th/id/OIP.21r0GSMN1a96QXXcDwRdowHaDt?rs=1&pid=ImgDetMain" alt="abedruano" class="w-[75px] h-[75px] rounded-full ml-[92px] mr-[75px]" />
    <nav class="flex flex-row justify-between w-full mr-[35px]">
        <a href="">Home</a>
        <a href="">Sobre mí</a>
        <a href="">Proyectos</a>
        <a href="">Qué sé</a>
        <a href="">Contacto</a>
    </nav>	
</header>

