---
import Tarjetasimc from "./Tarjetasimc.astro"
---


<div class="separador" style="margin-top: 50px;"></div>


<div class="proyectos">


    <Tarjetasimc/>

</div>
<style>

    .proyectos{
        width:1058px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 25px;
        margin-bottom: 150px;
    }

</style>