---
import Tarjetasproyectos from "./Tarjetascalculadora.astro"
---



<div class="proyectos">

    <h2 class="text-5xl mb-[50px]">Mis proyectos</h2>
    <Tarjetasproyectos/>

</div>
<style>

    .proyectos{
        width:1058px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 25px;
        margin-bottom: 150px;
    }

</style>