---
import Misredes from "./misredes.astro"
---


<div class="flex flex-col  w-[1078px] h-auto mt-[200px] rounded-[102px] text-2xl mb-24">
    
    <div class="yoyredes flex flex-row">
        <h2 class="mb-12 text-6xl text-left mr-[50px]">Sobre mí</h2>
        <Misredes />
    </div>
        
    


    <p class="">Bienvenido a mi porfolio. Actualmente, estoy en el camino de convertirme en desarrollador, aprendiendo cada día nuevas herramientas y tecnologías que me acercan a mi objetivo.</p>
    <br>
    <p>Aunque todavía no he tenido experiencia profesional en el campo, mi pasión por la programación y la tecnología es lo que me impulsa a seguir creciendo. Me gusta resolver problemas, crear soluciones innovadoras y explorar el mundo del desarrollo de software.</p> 
</div>