---

---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<script>
			// Este script se ejecutará en el cliente
			document.addEventListener('DOMContentLoaded', () => {
  			const navLinks = document.querySelectorAll('nav a');
  
 			 // Mapeo de índices a IDs de sección
  			const sectionIds = ['sobremi', 'quese', 'proyectos', 'contacto'];
  
			navLinks.forEach((link, index) => {
				link.addEventListener('click', (e) => {
				e.preventDefault();
				
				// Usamos el mapeo por índice en lugar de obtener el href
				const targetId = sectionIds[index];
				const targetElement = document.getElementById(targetId);
				
				if (targetElement) {
					window.scrollTo({
					top: targetElement.offsetTop,
					behavior: 'smooth'
					});
				}
				});
			});
			});
		</script>
	</head>


	<body class="flex flex-col  items-center --color-shamrock-900: bg-[#61cc95]"> 
		<slot />
	</body>
</html>

<style>
	html,
	body {
		font-family: 'Josefin Sans Variable', sans-serif;
	}
</style>
